.card {
	background: rgba(50, 0, 0, 0.05) ;
}

h1, h2, h3, h4, h5, h6, .footnote {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h1 {
	text-align: left;
	margin-top: 30px;
	color: grey;
}

#header_row {
	background-image: url("papyrus.png");
}

#second_row {
	margin-top: 30px;
	background: #FFC0CB;
}

#buttons_row {
	margin-top: 30px;
}

.red_white {
	border: solid;
	border-color: #a84a4a;
	background-color: white;
	text-align: center;
}

.about {
	margin-top: 20px;
}

.footnote {
	padding-top: 10px;
	border: solid;
	border-color: pink;
	background-color: #a84a4a;
}

/* courtesy of subtlepatterns.com */

body {
    background: #808080;
}

