.card {
	background: rgba(50, 0, 0, 0.05) ;
}

h1, h2, h3, h4, h5, h6, p, .footnote {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h1 {
	text-align: left;
	padding-top, padding-bottom: 100px;
	color: grey;
}

#header_row {
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url("papyrus.png");
}

#second_row {
	background: #FFC0CB;
	margin-top: 30px;
}

#buttons_row {
	margin-top: 30px;
}

.sidebar {
	background-color: pink;
	padding: 10px;
}

.row {
	padding-top: 30px;
}

.button {
	background-color: darkred;
}

.button:hover {
	background-color: pink;
	color: black;
}

.red_white {
	border: solid;
	border-color: #a84a4a;
	background-color: white;
	text-align: center;
}

.slider {
	margin-top: 30px;
	padding-top: 100px;
	background-color: white;
}

.about {
	margin-top: 20px;
}

.footnote {
	margin-top: 30px;
	padding-top: 10px;
	border: solid;
	border-color: pink;
	background-color: #a84a4a;
}

/* courtesy of subtlepatterns.com */

body {
    background: #808080;
}

